body{background:#111;color:white;text-align:center;font-family:Arial}
.title{font-size:40px;margin-top:20px}
button{padding:12px 20px;margin:10px;background:#008cff;border:none;color:white;cursor:pointer;border-radius:6px;font-size:18px}
.hidden{display:none}
